#departmentTitle{
    font-family: 'Raleway';
    text-align: center;
    font-weight: 900;
    font-style: italic;
    font-size: 80px;
    
}
#listOfDepartments{
    font-family: 'dynalight';
    text-align: center;
    font-size: 50px;
}

#departmentContainer2{
    display: flex;
    background-color: rgb(53, 51, 51);
    align-content: center;
    justify-content: center;
    border-radius: 20px;
    border: solid 5px white;
    box-shadow: 0px 0px 10px;
    margin: 10px;
}


#departmentContainer{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 20px;
}
.departmentBox{
    width: 1000px;
    border: solid 1px white;
    border-radius: 20px;
    background-image: linear-gradient(grey,white,grey);
    transition: ease 1s all;
    
}
.departmentBox:hover{
    box-shadow: 0px 0px 8px rgb(255, 255, 255);
}
.contentsContainer{
    display: flex;
    column-gap: 10px;
}
.tpbContent{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 10px;
    justify-content: center;
}
.dImg{
    height: 200px;
    margin: 20px;
    border-radius: 20px;
    transition: all ease 1s;
    
}
.dImg:Hover{
    height: 210px;
}
.dButton{
    border-radius: 10px;
    background-color: darkgray;
    border: none;
    color: white;
    width: 200px;
}

